#close {
text-align: right;
margin-right: 1px;
margin-left: 378px;
padding-right: 4px;
}

#close:hover{
  background: rgb(161, 16, 28);
}

:focus {
  outline: 0;
}

#mini {
  text-align: right;
  margin-top: -25px;
  margin-right: 25px;
  margin-left: 355px;
  padding-right: 4px;
}

#mini:hover{
  background: rgb(39, 39, 39);
}

#title {
  text-align: left;
  margin-top: -20px;
  margin-left: -20px;
  padding-bottom: 5px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  padding-top: 25px;

}

#div1{
  margin-left: 30px;
  margin-right: 30px;
}

#roomid{
  margin-bottom: 10px;
}

#nom{
  margin-bottom: 10px;
}

#nb{
  margin-bottom: 10px;
}

#send{
  margin-left: 225px;
  margin-top: -42px;
}

#chkbx{
  margin-right: 200px;
}

#disc{
  margin-right: 199px;
  margin-top: -5px;
}

#foot{
  margin-top:-11px;
}